html
  head
    title Star Dance Academy
    block scripts
    block style
  Body
    nav#navbar 
        ul 
            #logo 
                img(src="../static/logo.jpg")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2021 StarDanceAcademy.com | All rights reserved